.FoodTruckList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FoodTruckList h1 {
    color: white;
    font-size: 2.5em;
    text-align: center;
    font-family: Staatliches;
    margin: 10px 0; 
    border-bottom: 2px solid white;
}

.FoodTruckList header {
    width: 100%;
    background-color: #4f6d78;
}

.FoodTruckList #truckNameInList {
    color: black; 
    background-color: white;
    font-size: 1.1em;
    font-weight: bold;
    list-style-type: none;
    border: 2px solid rgba(177, 177, 177, 0.7);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.FoodTruckList #truckNameInList:hover { 
    transition: all 200ms;
    background-color: #f0d898;
    
}

.FoodTruckList ul {
    padding: 0;
    position: relative;
}

.FoodTruckList #name {
    margin: 5px;
}
.FoodTruckList #igHandle {
    margin: 5px;
    font-size: .75em;
}

