.FoodTruckCard {
    display: flex;
    flex-direction: column;
}

.post .caption {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post #name {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}
.post #address {
    font-size: 1em;
    padding: 0;
    margin: 0;
}
.post #city {
    font-size: 1em;
    padding: 0;
    margin: 0;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  height: 100%;
  width: 90%;
  /* border: 2px #133840 solid; */
  border-radius: 2px;
  /* padding-bottom: 0; */
  margin: 10px;
}

.modal-dialog {
  padding: 0;
  margin: 0;
}

.modal-header {
  display: flex;
  align-content: flex-end;
}

/* .star {
  height: 25px;
} */

/* .modal-title {
  flex: 2;
  text-align: center;
} */

.profilePic {
  border-radius: 50%;
  height: 100px;
} 

/* .modal-body {
  display: flex;
  flex-direction: column;
} */

/* .cardImg {
  height: 25%;
} */

 .iGPosts {
  display: flex;
  flex-direction: column;
} 

.postImg {
  width: 100%;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.mymodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  width: 300px;
  height: 425px;
  border: 2px solid rgb(255, 255, 255);
  filter: drop-shadow(0 0 3px rgb(0, 0, 0));
}

.FoodTruckCard .profilePic {
  height: 50px;
}

.FoodTruckCard .cardImg {
    display: flex;
    justify-content: center;
}
