                    .FoodTruckCard {
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        width: 100%;
                    }
                    
                    .post .caption {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    
                    .post #name {
                        font-size: 1.5em;
                        padding: 0;
                        margin: 0;
                    }
                    
                    .post #address {
                        font-size: 1em;
                        padding: 0;
                        margin: 0;
                    }
                    
                    .post #city {
                        font-size: 1em;
                        padding: 0;
                        margin: 0;
                    }
                    
                    .modal-content {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-content: space-between;
                        align-items: center;
                        height: 100%;
                        width: 90%;
                        /* border: 2px #133840 solid; */
                        border-radius: 2px;
                        /* padding-bottom: 0; */
                        margin: 10px;
                    }
                    
                    .modal-dialog {
                        padding: 0;
                        margin: 0;
                        align-self: center;
                    }
                    
                    .modalTitle {
                        display: flex;
                        align-content: flex-end;
                        align-items: center;
                    }
                    
                    .modal-header button {
                        height: 25px;
                        justify-content: space-between;
                    }
                    
                    .profilePic {
                        border-radius: 50%;
                        height: 100px;
                    }
                    
                    .modal-body {
                        display: flex;
                        flex-direction: column;
                    }
                    /* .cardImg {
  height: 25%;
} */
                    
                    .iGPosts {
                        display: flex;
                        flex-direction: column;
                    }
                    
                    .postImg {
                        width: 100%;
                    }
                    
                    .modal-footer {
                        display: flex;
                        justify-content: flex-end;
                    }
                    
                    .mymodal {
                        position: fixed;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        border: 1px solid #ccc;
                        background: #fff;
                        overflow: auto;
                        border-radius: 4px;
                        outline: none;
                        padding: 20px;
                        width: 300px;
                        height: 425px;
                        border: 2px solid rgb(255, 255, 255);
                        filter: drop-shadow(0 0 3px rgb(0, 0, 0));
                    }
                    
                    .FoodTruckCard .profilePic {
                        height: 50px;
                    }
                    
                    .FoodTruckCard .cardImg {
                        display: flex;
                        justify-content: center;
                    }
                    
                    @media screen and (min-width: 768px) {
                        .mymodal {
                            width: 75%;
                        }
                        .modalTitle button {
                            height: 25px;
                        }
                        .FoodTruckCard .profilePicDiv {
                            flex: 2;
                        }
                        .FoodTruckCard .profilePic {
                            border-radius: 50%;
                            height: 100px;
                            filter: drop-shadow(0 0 3px rgb(0, 0, 0));
                            flex: 2;
                        }
                        #timestamp {
                            font-size: 20px;
                        }
                        .postImg {
                            margin: 5px;
                        }
                        .iGPosts {
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            align-self: center;
                            justify-self: center;
                        }
                        .post {
                            width: 30%;
                        }
                    }