.AppHeader h1 {
    color: white;
    font-size: 2.5em;
    text-align: center;
    font-family: Staatliches;
    margin: 10px 0; 
    border-bottom: 2px solid white;
}

.AppHeader {
    width: 100%;
    background-color: #4f6d78;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.GoogleUserDetails {
    color: white;
    font-family: Staatliches;
}

.GoogleUserPhoto img {
    height: 50px;
    width: 50px;
}

.Greeting {
    text-align: center;
}

.AppHeader .logo {
    margin: 0 auto;
    height: 150px;
    box-sizing: border-box;
    background-color: white;
    
}

.AppHeader #profilePic {
    border-radius: 50%;
    margin: 10px;
}

.TitleDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.GoogleUserPhoto {
    display: flex;
    flex-direction: column;
    margin: 5px;
    position: absolute;
    right: 0;
}
.GoogleAuth {
    display: flex;
    flex-direction: column;
    margin: 5px;
    position: absolute;
    right: 0;
}