.App {
    padding: 10px;
    background-color: #f0d898;
    height: 100vh;
}

.App .map {
    height: 500px;
    margin: 10px;
}

.App h1 {
    color: white;
    font-size: 2.5em;
    text-align: center;
    font-family: Staatliches;
    margin: 10px 0; 
    border-bottom: 2px solid white;
}

.App header {
    width: 100%;
    background-color: #4f6d78;
}